@use 'sass:color';

@use 'base';
@use 'theme';
@use 'header';

body {
	@include base.set-font();
	width: 100%;
	color: base.$color-dark-text;
	text-align: left;
}

.container {
	margin: 50px 250px;
	padding: 0;

	display: flex;
	flex-direction: column;
}
