@font-face {
	font-family: Montserrat;
	src: url("./Montserrat-Regular.ttf");
}


html {
	background: #000;
	color: #EEE;
	background-image:url("../images/background.jpeg");
	position: relative;
	min-height:100vh;
	margin: 0 3%;
}

body {
	font-family: 'Montserrat', Montserrat, sans-serif;
}

.wrapper {
	text-align: center;
}

/* INSTRUCTIONS */
.instructions {
	margin: 70px auto;
}

.instructions img {
	margin: 10px auto;
	max-width: 90%;
	height: auto;
}

.instructions p {
	margin: 0 auto;
	font-size: 18px;
	max-width: 400px;
}
#open-windows {
	text-align: left;
	margin: 0 auto 15px;
	padding: 20px 0 0;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-align-content: flex-end;
	align-content: flex-end;
}

.screenshot {
	cursor: pointer;
	width: 25%;
	max-width: 300px;
	position: relative;
	border-radius: 5px;
	height: 200px;
	margin: 5px 10px;
	background-size: cover;
	background-position: center;
	-webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
	-webkit-transition: all 0.15s ease;
}

.screenshot:hover {
	opacity: 1;
	-webkit-box-shadow: 0px 2px 12px 1px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 2px 12px 1px rgba(0,0,0,0.75);
	box-shadow: 0px 2px 12px 1px rgba(0,0,0,0.75);
}

.screen-index {
	position: absolute;
	width: 100%;
	text-align: center;
	line-height: 200px;
	vertical-align: center;
	top: 0;
	left: 0;
	font-size: 80px;
	color: #fff;
	text-shadow:0px 0.5px 1px #000000;
	background-color: rgba(0,0,0,0.4);
}

.screen-index:hover {
	background-color: rgba(0,0,0,0);
}

.title-bar {
	z-index: 999;
	font-family: Arial, Helvetica, sans-serif;
	position: absolute;
	top:0;
	background-color: rgba(255,255,255,0.8);
	width: 100%;
	height: 30px;
	overflow: hidden;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.title-bar img {
	float: left;
	height: 24px;
	width: auto;
	margin:3px;
}

.title-bar .screen-title {
	color: #222;
	line-height: 30px;
	text-overflow: ellipsis;
	overflow: hidden;
	font-size: 16px;
}

.tab-count {
	position: absolute;
	bottom: 0;
	left: 0;
	margin: 10px;
	color: #fff;
	text-shadow:0px 0.5px 1px #000000;
	font-size: 22px;
	z-index: 999;
}

#tabbo-title {
	position: absolute;
	top:0;
	left:0;
	margin:10px 0;
	font-size: 30px;
}

#keybinds {
	position: absolute;
	top:0;
	right:0;
	margin: 20px 0;
	font-size: 20px;
	cursor: pointer;
}

#keybinds:hover {
	text-decoration: underline;
}

#current-tab-wrapper {
	position: relative;
	margin: 60px auto 30px;
	text-align: center;
	width: 300px;
	border: 1px rgba(255,255,255,0.2) solid;
	border-radius: 10px;
}

#current-tab-wrapper::after {
	content: "";
	width: 0;
	height: 0;
	border-left: 40px solid transparent;
	border-right: 40px solid transparent;
	border-top: 30px solid rgba(255,255,255,0.8);
	position: absolute;
	margin-left: -40px;
	margin-top: 12px;
}
#current-tab {
	position:absolute;
	width: 100%;
	margin: 0 auto;
	max-width:300px;
	font-size: 20px;
	background-color: rgba(255,255,255,0.2);
	color: #eee;
	font-size: 30px;
	font-size: 23px;
	line-height: 29px;
	text-align: center;
}

#current-tab-wrapper h2 {
	text-transform: uppercase;
}
#current-tab .title-bar {
	position: initial;
}

#current-tab-instructions {
	margin-top: 40px;
}

#cancel {
	border-radius: 10px;
	position:absolute;
	opacity: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255,0.8);
	color: #333;
	font-size: 30px;
	text-align: center;
	line-height: 120px;
}

#cancel:hover {
	opacity: 1;
	cursor: pointer;
}

#hackny {
	position: absolute;
	bottom:0;
	left:0;
	margin: 10px 0;
}

#hackny img {
	height:50px;
	width: auto;
}

#github {
	position: absolute;
	bottom:0;
	right:0;
	color: #eee;
	font-size: 20px;
	margin: 10px;
}

#github a {
	color: #eee;
}


#github a:visited {
	color: #eee;
}

.directions {
	margin:0 auto 70px;
	text-align: center;
}


@media only screen and (max-width: 1016px) {
	.screenshot {
		width: 45%;
	}
}

@media only screen and (max-width: 544px) {
	.screenshot {
		width: 100%;
		max-width: 90%;
	}
}
